{% extends "admin_pages/base_admin.html" %}

{% block pagebody %}

<br>
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Data di Nascita</th>
                <th scope="col">Sesso</th>
                <th scope="col">Numero Figli</th>
                <th scope="col">Residenza</th>
                <th scope="col">Numero di Telefono</th>
                <th scope="col">Admin</th>
                <th scope="col">Promuovi/Degrada</th>
            </tr>
            </thead>
            <tbody>
            {% for row in arrayUsers %}
            <tr>
                <th scope="row">{{row.idutente}}</th>
                <td>{{row.email}}</td>
                <td>{{row.Password}}</td>
                <td>{{row.nome}}</td>
                <td>{{row.cognome}}</td>
                <td>{{row.datanascita}}</td>
                <td>{{row.sesso}}</td>
                <td>{{row.numfigli}}</td>
                <td>{{row.residenza}}</td>
                <td>{{row.numcell}}</td>
                <td>{% if row.ruolo %}
                    Si
                    {% else %}
                    No
                    {% endif %}
                </td>
                <!-- Bottone per concessione admin -->
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalUpdate{{row.idutente}}">
                        Grant
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modalUpdate{{row.idutente}}" tabindex="-1"
                         aria-labelledby="modalUpdateLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalUpdateLabel">Rendi / Revoca Admin</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('rendi_admin', idUtente=row.idutente)}}" method="POST"
                                          class="form-signup">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputMail{{row.idutente}}">Email</label>
                                                        <input name="inputMail{{row.idutente}}" type="text"
                                                               class="form-control"
                                                               id="inputMail{{row.idutente}}" value="{{row.email}}">
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="inputPassword{{row.idutente}}">Password</label>
                                                        <input name="inputPassword{{row.idutente}}" type="text"
                                                               class="form-control" id="inputPassword{{row.idutente}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>


<br><br>
<br><br>
<br><br>


<form action="/admin/tabella_utenti" method="POST" enctype="multipart/form-data">
    <div class="col-2">
        <input type="file" id="inputImg" name="inputImg">
    </div>
    <div class="col">
        <button class="btn-primary" type="submit">img</button>
    </div>
</form>

{% endblock %}