{% extends "admin_pages/base_admin.html" %}

{% block pagebody %}

<br><br>
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#modalInsertScreening">
            Aggiungi Proiezione
        </button>
    </div>
    <div class="col-5"></div>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="modalInsertScreening" tabindex="-1"
         aria-labelledby="modalUpdateLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInsertScreeningLabel">Aggiungi Proiezione</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{url_for('insertScreening')}}" method="POST"
                          class="form-signup">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col">
                                <div class="form-row">
                                    <select name="titolo" id="titolo" class="form-control" text="genere">
                                        <option value="none" selected disabled hidden>
                                            Titolo film
                                        </option>
                                        {% for f in films %}
                                        <option>{{ f.titolo }}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="sala">Sala</label>
                                        <input name="sala" type="text"
                                               class="form-control"
                                               id="sala">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label for="giorno">Giorno</label>
                                    <input name="giorno" type="text"
                                           class="form-control"
                                           id="giorno">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="ora">Ora</label>
                                        <input name="ora" type="text"
                                               class="form-control"
                                               id="ora">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titolo</th>
                <th scope="col">Sala</th>
                <th scope="col">Giorno</th>
                <th scope="col">Ora</th>
                <th scope="col">Modifica</th>
                <th scope="col">Elimina</th>
            </tr>
            </thead>
            <tbody>
            {% for row in arrayScreening %}
            <tr>
                <th scope="row">{{row.idproiezione}}</th>
                <td>{{row.titolo}}</td>
                <td>{{row.idsala}}</td>
                <td>{{row.data}}</td>
                <td>{{row.orario}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalUpdate{{row.idproiezione}}">
                        Update
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modalUpdate{{row.idproiezione}}" tabindex="-1"
                         aria-labelledby="modalUpdateLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalUpdateLabel">{{row.titolo}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('updateScreening', idProiezione=row.idproiezione)}}"
                                          method="POST"
                                          class="form-signup">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputRoom{{row.idproiezione}}">Sala</label>
                                                        <input name="inputRoom{{row.idproiezione}}" type="text"
                                                               class="form-control"
                                                               id="inputRoom{{row.idproiezione}}"
                                                               value="{{row.idsala}}">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <label for="inputDay{{row.idproiezione}}">Giorno</label>
                                                    <input name="inputDay{{row.idproiezione}}" type="text"
                                                           class="form-control"
                                                           id="inputDay{{row.idproiezione}}"
                                                           value="{{row.data}}">
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputTime{{row.idproiezione}}">Ora</label>
                                                        <input name="inputTime{{row.idproiezione}}" type="text"
                                                               class="form-control"
                                                               id="inputTime{{row.idproiezione}}"
                                                               value="{{row.orario}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="/proiezione/delete/{{row.idproiezione}}">Elimina</a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>


<br><br>
<br><br>
<br><br>

{% endblock %}