{% extends "admin_pages/base_admin.html" %}

{% block pagebody %}

<br><br>
<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#modalInsertScreening">
    Aggiungi Proiezione
</button>
<div>
    <!-- Modal -->
    <div class="modal fade" id="modalInsertScreening" tabindex="-1"
         aria-labelledby="modalUpdateLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalInsertScreeningLabel">Aggiungi Proiezione</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/film/insert" method="POST" class="form-signup">
                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="newTitle">Titolo</label>
                                        <input name="newTitle" type="text"
                                               class="form-control"
                                               id="newTitle">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="newGenre">Genere</label>
                                        <input name="newGenre" type="text"
                                               class="form-control"
                                               id="newGenre">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPlot">Trama</label>
                                    <input name="newPlot" type="text"
                                           class="form-control"
                                           id="newPlot">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="is3d">3D</label>
                                        <select name="is3d"
                                                id="is3d" class="form-control">
                                            <option value="False">No</option>
                                            <option value="True">Si</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="newMinAge"><14</label>
                                        <select name="newMinAge"
                                                id="newMinAge" class="form-control">
                                            <option value="False">No</option>
                                            <option value="True">Si</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="newStartData">Data Inizio</label>
                                        <input name="newStartData" type="text"
                                               class="form-control"
                                               id="newStartData"
                                               placeholder="AAAA-MM-GG">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="newLastData">Data Fine</label>
                                        <input name="newLastData" type="text"
                                               class="form-control"
                                               id="newLastData"
                                               placeholder="AAAA-MM-GG">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="newCountry">Paese</label>
                                        <input name="newCountry" type="text"
                                               class="form-control"
                                               id="newCountry">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="newYearPubb">Anno</label>
                                        <input name="newYearPubb" type="text"
                                               class="form-control"
                                               id="newYearPubb">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="newDuration">Durata</label>
                                        <input name="newDuration" type="text"
                                               class="form-control"
                                               id="newDuration"
                                               placeholder="(In minuti)">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label>Aggiungere entrambi anche se un attore è anche regista</label>
                                    <br>
                                    <div class="form-group col-md-6">
                                        <label for="newMovDir">Registi</label>
                                        <input name="newMovDir" type="text"
                                               class="form-control"
                                               id="newMovDir"
                                               placeholder="Nome Cognome, Nome Cognome">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="newActors">Attori</label>
                                        <input name="newActors" type="text"
                                               class="form-control"
                                               id="newActors"
                                               placeholder="Nome Cognome, Nome Cognome">
                                    </div>
                                </div>
                                <div class="from-row">
                                    <label for="newImage">Inserisci locandina (420x600)</label>
                                    <input name="newImage" type="file"
                                           class="form-control"
                                           id="newImage">
                                </div>
                                <div class="col 1"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titolo</th>
                <th scope="col">Sala</th>
                <th scope="col">Giorno</th>
                <th scope="col">Ora</th>
                <th scope="col">Modifica</th>
                <th scope="col">Elimina</th>
            </tr>
            </thead>
            <tbody>
            {% for row in arrayScreening %}
            <tr>
                <th scope="row">{{row.idproiezione}}</th>
                <td>{{row.titolo}}</td>
                <td>{{row.idsala}}</td>
                <td>{{row.data}}</td>
                <td>{{row.orario}}</td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalUpdate{{row.idproiezione}}">
                        Update
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modalUpdate{{row.idproiezione}}" tabindex="-1"
                         aria-labelledby="modalUpdateLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalUpdateLabel">{{row.titolo}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('updateScreening', idProiezione=row.idproiezione)}}" method="POST"
                                          class="form-signup">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputRoom{{row.idproiezione}}">Sala</label>
                                                        <input name="inputRoom{{row.idproiezione}}" type="text"
                                                               class="form-control"
                                                               id="inputRoom{{row.idproiezione}}"
                                                               value="{{row.idsala}}">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <label for="inputDay{{row.idproiezione}}">Giorno</label>
                                                    <input name="inputDay{{row.idproiezione}}" type="text"
                                                           class="form-control"
                                                           id="inputDay{{row.idproiezione}}"
                                                           value="{{row.data}}">
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputTime{{row.idproiezione}}">Ora</label>
                                                        <input name="inputTime{{row.idproiezione}}" type="text"
                                                               class="form-control"
                                                               id="inputTime{{row.idproiezione}}"
                                                               value="{{row.orario}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="/proiezione/delete/{{row.idproiezione}}">Elimina</a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>


<br><br>
<br><br>
<br><br>

{% endblock %}