html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; background: #ffffff; }
footer{ background: #2a2a2a; }
nav{ background: #2a2a2a; }

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
}

h1 {
  font-size: 25px;
  color: whitesmoke;
}

h2 {
  font-size: 20px;
    color: black;
}

.limit-text {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textwhilefont{
    font-family: "Lucida Console", Courier, monospace;
    color: whitesmoke;
}

img {
    width:100%;
    height:auto;
}

.responsive {
  width: 100%;
  height: auto;
}

.sala {
    table-layout: fixed;
    width: 100%;
}

.sala td{
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.sala td.libero{
    background: url("/static/img/sedie/armchair-green.png") ;
    cursor:pointer;

}
.sala td:hover{
    background-color: black;
    color:white;

}

.sala td.prenotato{
    background: url("/static/img/sedie/armchair-yellow.png") ;
}

.sala td.occupato{
    background: url("/static/img/sedie/armchair-red.png") ;
}