<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script>
        function show(shown, hidden) {
            document.getElementById(shown).style.display = 'block';
            document.getElementById(hidden).style.display = 'none';
            return false;
        }
    </script>

    <link rel="stylesheet" href="/static/js/apex/apexcharts.css">
    <script src="{{ url_for('static', filename='js/apex/apexcharts.js') }}"></script>

    <title>{{adminLogged}}</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><h1 class="font-weight-bold">UCIMG</h1></a>
</nav>


<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active" onclick="return show('Page1','Page2');">
        <input type="radio" name="options" id="option1" checked> Film
    </label>
    <label class="btn btn-secondary" onclick="return show('Page2','Page1');">
        <input type="radio" name="options" id="option2"> Stats
    </label>

</div>


<div id="Page1" class="col">
    <br><br><br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Trama</th>
                    <th scope="col">3D</th>
                    <th scope="col">Data Inizio</th>
                    <th scope="col">Data Fine</th>
                    <th scope="col">Durata</th>
                    <th scope="col">Paese</th>
                    <th scope="col">Anno</th>
                    <th scope="col"><14</th>
                    <th scope="col">Pubblicazione</th>
                    <th scope="col">Modifica</th>
                </tr>
                </thead>
                <tbody>
                {% for row in arrayFilms %}
                <tr>
                    <th scope="row">{{row.idfilm}}</th>
                    <td>{{row.titolo}}</td>
                    <td>{{row.genere}}</td>
                    <td><p>{{row.trama}}</p></td>
                    <td>{{row.is3d}}</td>
                    <td>{{row.datainizio}}</td>
                    <td>{{row.datafine}}</td>
                    <td>{{row.durata}}</td>
                    <td>{{row.paese}}</td>
                    <td>{{row.anno}}</td>
                    <td>{%if row.vm == 1%} True {% else %} False {% endif %}</td>
                    <td>{% if row.shown == 1 %}
                        <a href="/film/unpublish/{{row.idfilm}}">Unpublish</a>
                        {% else %}
                        <a href="/film/publish/{{row.idfilm}}">Publish</a>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalUpdate">
                            Update
                        </button>
                        <div class="modal fade" id="modalUpadte" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h5 class="modal-title">Registrati</h5> <!-- id="exampleModalLabel" -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Effettua l'accesso per riuscire a prenotare!
                                    </div>

                                    <!-- Form di registrazione -->

                                    <form action="/film/update/{{row.idfilm}}" method="POST" class="form-signup">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">

                                                        <label for="inputEmail4">Email</label>
                                                        <input name="emailReg" type="email" class="form-control"
                                                               id="inputEmail4">
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="inputPassword4">Password</label>
                                                        <input name="passReg" type="password" class="form-control"
                                                               id="inputPassword4">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputName">Nome</label>
                                                    <input name="nameReg" type="text" class="form-control"
                                                           id="inputName">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputSurname">Cognome</label>
                                                    <input name="surnameReg" type="text" class="form-control"
                                                           id="inputSurname">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputAddress">Indirizzo</label>
                                                    <input name="addressReg" type="text" class="form-control"
                                                           id="inputAddress"
                                                           placeholder="Via PippoPluto 1">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputBirthdate">Data di nascita</label>
                                                    <input name="birthdateReg" type="text" class="form-control"
                                                           id="inputBirthdate"
                                                           placeholder="gg/mm/aaaa">
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputCity">City</label>
                                                        <input name="cityReg" type="text" class="form-control"
                                                               id="inputCity">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputState">State</label>
                                                        <select name="stateReg" id="inputState" class="form-control">
                                                            <option selected>Scegli...</option>
                                                            <option>Venezia</option>
                                                            <option>Briganti</option>
                                                            <option>Maedetti</option>
                                                            <option>Teroni</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label for="inputZip">Zip</label>
                                                        <input name="zipReg" type="text" class="form-control"
                                                               id="inputZip">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="inputNumberCell">Numero di telefono</label>
                                                        <input name="cellReg" type="text" class="form-control"
                                                               id="inputNumberCell">
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <label for="inputSex">Sesso</label>
                                                        <select name="sexReg" id="inputSex" class="form-control">
                                                            <option selected>-</option>
                                                            <option>M</option>
                                                            <option>F</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label for="inputChild">Figli</label>
                                                        <input name="nSonReg" type="text" class="form-control"
                                                               id="inputChild">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- Fine form di registrazione -->
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
    <div>
        <button> Aggiungi film</button>
    </div>
</div>


<div id="Page2" style="display:none" class="col">
    <div id="chart"></div>
    {{stats}}
    {{giorni | tojson}}
    <script>
        var options = {


            series: {{stats | safe}} ,
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                toolbar:
                    {
                        show: true
                    },
                zoom: {
                    enabled: true
                }
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    legend: {
                        position: 'bottom',
                        offsetX: -10,
                        offsetY: 0
                    }
                }
            }],
            plotOptions: {
                bar: {
                    horizontal: false,
                },
            }, xaxis: {
                type: 'datetime', categories: {{giorni | safe}},
            },
            legend: {
                position: 'right',
                offsetY: 40
            },
            fill: {
                opacity: 1
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
</div>

<br><br>
<br><br>
<br><br>

<footer class="site-footer" role="contentinfo">
    <div class="card-footer mt-auto row">
        <div class="col-3">
            <h2 class="font-weight-bold">UCIMG</h2>
            <p class="text-justify textwhilefont">
                Via PlutoPaperino
            </p>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
            <h2>Contatti</h2>
            <p class="text-justify textwhilefont">
                info@ucimg.it
            </p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
