<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin</title>
</head>

<h1>Benvenuto <% if user %>
    <% user %>
    <% endif %>,
    admin supremo del cinema</h1>

<br>

<form action="/create_page_film" method="post">

    <label>Nuovo titolo film:</label>
    <input type="text" id="newTitle" name="chsnFilm"><br><br>

    <label>Genere/i:</label>
    <input type="text" id="newGenre" name="newGenre" placeholder="es. Commedia, Fantasy..."><br><br>

    <label>Registi:</label>
    <input type="file" id="newMovDir" name="newMovDir" placeholder="es. Nome Cognome, Nome Cognome..."><br><br>

    <label>Attori:</label>
    <input type="text" id="newActors" name="newActors" placeholder="es. Nome Cognome, Nome Cognome..."><br><br>

    <label>Tipologia:</label>
    <select name="is3d" id="is3d">
        <option selected>--</option>
        <option>3D</option>
        <option>2D</option>
    </select><br><br>

    <label>Inserire locandina:</label>
    <input type="file" id="newImage" name="newImage"><br><br>

    <label>Trama:</label> <br>
    <textarea id="newPlot" name="newPlot" placeholder="Trama:"></textarea>
    <br><br>

    <label>Prima data nel cinema:</label>
    <input type="text" id="newStartData" name="newStartData" placeholder=" gg/mm/aa"><br><br>

    <label>Ultima data nel cinema:</label>
    <input type="text" id="newLastData" name="newLastData" placeholder=" gg/mm/aa"><br><br>

    <label>Durata (in minuti)</label>
    <input type="text" id="newDuration" name="newDuration" placeholder=" 120"><br><br>

    <label>Paese d'origine:</label>
    <input type="text" id="newCountry" name="newCountry"><br><br>

    <label>Anno  pubblicazione:</label>
    <input type="text" id="newYearPubb" name="newYearPubb"><br><br>

    <label>Età minima:</label>
    <input type="text" id="newMinAge" name="newMinAge">

    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>
