{% extends "base.html" %}

{% block pagebody %}

{% include 'logout.html' %}
<br><br><br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-5">
        <h3>Area Utente: {{ u.nome }} {{ u.cognome }}</h3>
        <h4> Email: {{ u.email }}</h4>
        <br><br>
        <h5>Ecco tutti i tuoi biglietti prenotati</h5>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changePassword">
          Change password
        </button>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table table-bordered table-dark">
            <tr>
                <td>Titolo film</td>
                <td>Giorno</td>
                <td>Ora</td>
                <td>Fila</td>
                <td>Numero</td>
            </tr>
            {% for b in biglietti %}
            <tr>
                <td>
                    {{ b.titolo }}
                </td>
                <td>
                    {{ b.data }}
                </td>
                <td>
                    {{ b.orario }}
                </td>
                <td>
                    {{ b.fila }}
                </td>
                <td>
                    {{ b.numero }}
                </td>
            </tr>
           {% endfor %}
        </table>
    </div>
</div>


<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Change your password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/changePsw" class="form-changepsw" method="POST">
      <div class="modal-body">
          <div class="row">
              <div class="col-2">
                  <h6>Old password</h6>
                  <h6>New password</h6>
                  <h6>New password</h6>
              </div>
              <div class="col">

                      <input name="oldpassword" type="password" class="form-control" aria-describedby="inputGroup-sizing-sm">
                      <input name="newpassword" type="password" class="form-control" aria-describedby="inputGroup-sizing-sm">
                      <input name="newpassword2" type="password" class="form-control" aria-describedby="inputGroup-sizing-sm">

              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}