<!-- Creazione della pagina di base del film che dovrà essere copiata ogni volta che un admin
 crea un nuovo film e aggiornata con realativo titolo, immagine e descrizione del film, e cazzi vari, per poi essere risalvata nella cartella templates_film-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ movie.titolo }}</title>
</head>
<body>

<h1>{{ movie.titolo }}</h1>
<p>{{ movie.trama }}</p>
<p>{{ movie.genere }}</p>
{% if movie.is3d %}
<b>3D</b>
{% endif %}

<h2>Orari disponibili</h2>
<table class="table-bordered table-dark">
    {% for spettacolo in spettacoli %}
    <tr>
        <td>
               {{spettacolo.data}}
        </td>
        <td>
               {{spettacolo.orario}}
        </td>
        <td>
            <a href="/prenotazione/{{spettacolo.idproiezione}}">PRENTOTA ORA</a>
        </td>

    </tr>

   {% endfor %}
</table>


</body>
</html>