<!-- Creazione della pagina di base del film che dovrà essere copiata ogni volta che un admin
 crea un nuovo film e aggiornata con realativo titolo, immagine e descrizione del film, e cazzi vari, per poi essere risalvata nella cartella templates_film-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ movie.titolo }}</title>
</head>
<body>

<h1>{{ movie.titolo }}</h1>
<p>{{ movie.trama }}</p>
<p>{{ movie.genere }}</p>
<p>{{ movie.is3d }}</p>


<h2>Orari disponibili</h2>
<table>
    {% for proiezione in proiezioni %}
    <tr>
        <td>
               {{proiezione.data}}
        </td>
        <td>
               {{proiezione.orario}}
        </td>
        <td>
            <a href="/prenotazione/{{proiezione.idproiezione}}">PRENTOTA ORA</a>
        </td>

    </tr>

   {% endfor %}
</table>


    <!--Title-->

    <!--Genre-->

    <!--Director-->

    <!--Actors-->

    <!--Typology-->

    <!--Img-->

    <!--Plot-->

    <!--firstDate-->

    <!--lastDate-->

    <!--Duration-->

    <!--countryOfOrigin-->

    <!--Year-->

    <!--minAge-->

</body>
</html>