<!-- Creazione della pagina di base del film che dovrà essere copiata ogni volta che un admin
 crea un nuovo film e aggiornata con realativo titolo, immagine e descrizione del film, e cazzi vari, per poi essere risalvata nella cartella templates_film-->
{% extends "base.html" %}

{% block pagebody %}

{% include 'logout.html' %}


<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 style="color: #373d3f">{{ movie.titolo }}</h1>
        <p>{{ movie.genere }}</p>
        <p>{{ movie.trama }}</p>
        {% if movie.is3d %}
        <b>3D</b>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-5">
        <h2>Orari disponibili</h2>
        <table class="table table-sm table-dark table-striped">
            {% for spettacolo in spettacoli %}
            <tr>
                <td>
                       {{spettacolo.data}}
                </td>
                <td>
                       {{spettacolo.orario}}
                </td>
                <td>
                    <a href="/prenotazione/{{spettacolo.idproiezione}}">PRENTOTA ORA</a>
                </td>

            </tr>

           {% endfor %}
        </table>
    </div>
</div>



{% endblock %}