{% extends "base.html" %}

{% block pagebody %}


<div class="col-4">
                <div class="row d-flex justify-content-around">
                    <div class="dropdown">
                <div class="row d-flex justify-content-around">
                    <!-- Button trigger modal LOG OUT -->
                    <form action="/logout" class="form-singin" method="POST">
                        <button type="submit" class="btn btn-primary">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

    <br><br>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <p> Grazie di aver scelto Ucimg per il tuo intrattenimento</p>
            <p> Ci si vede in sala!</p>

            <br>
            <h2>Biglietti prenotati</h2>
            <b>Orario: {{ orario[0].hour }}:{{ orario[0].minute }}</b>
            &nbsp; &nbsp;
            <b>Sala n: {{ numSala[0] }}</b>
            <br><br>
            <table class="table table-bordered table-dark">
                {% for x in range(0, len) %}
                <tr>
                    <td>
                        Fila: {{ posto[x]['fila'] }}
                    </td>
                    <td>
                        Numero: {{ posto[x]['numero'] }}
                    </td>
                </tr>
               {% endfor %}
            </table>

        </div>
    </div>

{% endblock %}