<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <b> Grazie di aver scelto Ucimg per il tuo intrattenimento</b>
            <p> Ci si vede in sala!</p>


            <table class="table-bordered table-dark">
                {% for ticket in tickets %}
                <tr>
                    <td>
                        Riga: {{ posto.riga }}
                    </td>
                    <td>
                        Colonna: {{ posto.colonna }}
                    </td>

                    <td>
                        Orario: {{ orario }}
                    </td>
                    <td>
                        Sala n: {{ nSala }}
                    </td>
                    <td>

                    </td>

                </tr>
               {% endfor %}
            </table>


            <h2>Orari disponibili</h2>
            <table class="table-bordered table-dark">
                {% for spettacolo in spettacoli %}

            </table>

        </div>
    </div>
</body>
</html>