<!-- Elenco FILM disponibili -->
<div class="works" id="work">
    <div class="container">

        <div class="row">
            <div class="col-8">
                <!-- heading -->
                <h2 color="black">In sala...</h2>
                <!-- paragraph -->
                <p>Clicca sul film per saperne di più.</p>
            </div>
        </div>
        <div class="row">

            {% for film in movies %}

            <div class="col-md-3">
                <!-- work item -->
                <div class="work-item">
                    <!-- work details image -->
                    <a {% if current_user.is_authenticated %}
                       href="/film/{{film.idfilm}}"
                       {% endif %}>
                        <img class="img-responsive" src="/static/img/Locandine/{{ film.titolo.strip() }}.png"></a>
                    <div class="row">
                        <!-- heading -->
                        <h5><a class="text-center"
                               {% if current_user.is_authenticated %}
                               href="/film/{{film.idfilm}}"
                               {% endif %}>
                            {{ film.titolo }}</a></h5>
                    </div>
                    <div class="row">
                        <!-- brand org -->
                        <span>{{ film.genere }}</span>

                    </div>
                </div>
                <br><br><br>
            </div>

            {% endfor %}
        </div>
    </div>
</div>