{% extends "base.html" %}

{% block pagebody %}

<div class="col-4">
                <div class="row d-flex justify-content-around">
                    <div class="dropdown">
                        <a id="dropdown-title" class="btn btn-secondary dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="titolo">
                            Film
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <form id="titleform" class="form">
                            {% for titolo in movies %}
                                <a class="dropdown-item titlefilm" href="#">{{ titolo[0] }}</a>

                            {% endfor %}
                        </form>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a id="dropdown-day" class="btn btn-secondary dropdown-toggle" href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Giorno
                        </a>

                        <div class="dropdown-menu" id="dayfilm" aria-labelledby="dropdownMenuLink">
                            <!-- CODICE IN ARRIVO -->
                        </div>
                    </div>
                    <div class="dropdown">
                        <a id="dropdown-time" class="btn btn-secondary dropdown-toggle" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orario
                        </a>

                        <div class="dropdown-menu" id="timefilm" aria-labelledby="dropdownMenuLink">
                            <!-- CODICE IN ARRIVO -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning align-right" id="prenotazione">Prenota</button>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <div class="row d-flex justify-content-around">
                    <!-- Button trigger modal LOG OUT -->
                    <form action="/logout" class="form-singin" method="POST">
                        <button type="submit" class="btn btn-primary">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>





{% endblock %}