<div class="col-4">
                <div class="row d-flex justify-content-around">
                    <div class="dropdown">
                <div class="row d-flex justify-content-around">
                    <!-- Button render personal area -->
                    <form action="/areaUtente" class="form-singin" method="POST">
                        <button type="submit" class="btn btn-primary">
                            Profilo
                        </button>
                    </form>
                    &nbsp;&nbsp;
                    <!-- Button LOG OUT -->
                    <form action="/logout" class="form-singin" method="POST">
                        <button type="submit" class="btn btn-primary">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>