{% extends "base.html" %}

{% block pagebody %}

{% include 'logout.html' %}


<br><br><br>
<div class="row">
    <div class="col-3"></div>
    <div class="col-4">
        <h3>Prenotazione</h3>&nbsp;
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p class="filmtitle">TITOLO: {{ movie.titolo }} </p>
        <p class="filmtitle">DURATA: {{ movie.durata }} </p>
        <p>Giorno: {{ proiezione.data }} </p>
        <p>Ora: {{ proiezione.orario }}</p>
        <div class="row"><div class="col-7"></div><div class="col">
        <button id="btnReset" type="button" class="btn btn-danger btn-sm">Deseleziona posti</button>
        </div></div>
           <br><br>
        <table class="sala table table-sm table-bordered table-dark">
<tr>
    <th></th>
    {% for y in range(1, colonna+1)%}
        <th style="background-color:gainsboro">
            <b style="color: #2a2a2a">{{y}}</b>
        </th>
        {% endfor %}
</tr>
    {%for x in range(0, riga)%}

    <tr>
        <th style="background-color:gainsboro">
            <b style="color: #2a2a2a">{{string.ascii_uppercase[x]}}</b>
        </th>

        {% for y in range(1, colonna+1)%}

        <td class="{{ 'occupato' if posti[x][y] else 'libero'  }}" data-fila="{{string.ascii_uppercase[x]}}" data-numero="{{y}}"> </td>

        {% endfor %}
        

    </tr>
   {% endfor %}
        </table>
        <form action="/acquista" method="POST">
            <input id="posti" name="posti" type="text" value="">
            <input name="idproiezione" type="text" value="{{ proiezione.idproiezione }}">
            <button type="submit">ACQUISTA</button>
        </form>

    </div>
    </div>


    <script src="{{ url_for('static', filename='js/prenota.js') }}"></script>

{% endblock %}