{% extends "base.html" %}

{% block pagebody %}


<div class="col-4">
                <div class="row d-flex justify-content-around">
                    <div class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                           href="#" id="dropdown-title" name="titolo" role="button">
                            Film
                        </a>

                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                        <form class="form" id="titleform">
                            {% for titolo in movies %}
                                <a class="dropdown-item titlefilm" href="#">{{ titolo[0] }}</a>
                            {% endfor %}
                        </form>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                           href="#" id="dropdown-day" role="button">
                            Giorno
                        </a>

                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu" id="dayfilm">
                            <!-- CODICE IN ARRIVO -->
                        </div>
                    </div>
                    <div class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                           data-toggle="dropdown" id="dropdown-time" role="button">
                            Orario
                        </a>

                        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu" id="timefilm">
                            <!-- CODICE IN ARRIVO -->
                        </div>
                    </div>
                    <button class="btn btn-warning align-right" id="prenotazione" type="button">Prenota</button>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-2">
                <div class="row d-flex justify-content-around">
                    <!-- Button trigger modal LOG OUT -->
                    <form action="/logout" class="form-singin" method="POST">
                        <button class="btn btn-primary" type="submit">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>


    <br><br><br>
    <div class="row">
    <div class="col-4"></div>
        <div class="col-4">
            <h3>Prenotazione</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
    <div class="col-8">
        <p class="filmtitle">TITOLO: {{ movie.titolo }} </p>
        <p class="filmtitle">DURATA: {{ movie.durata }} </p>
        <p>Giorno: {{ proiezione.data }} </p>
        <p>Ora: {{ proiezione.orario }}</p>



        <select id="numPosti" name="numPosti">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <table class="salatable table-bordered table-dark">
<tr>
    <th></th>
    {% for y in range(0, colonna)%}
        <th style="background-color:gainsboro">
    {{y}}
        </th>
        {% endfor %}
</tr>
    {%for x in range(0, riga)%}

    <tr>
        <th style="background-color:gainsboro">
        {{x}}
        </th>
        {% for y in range(0, colonna)%}


        <td class=" {{ occupato if False else 'libero' }} " data-colonna="{{y}}" data-riga="{{x}}">

        </td>

        {% endfor %}
    </tr>
   {% endfor %}
        </table>
        <form action="/acquista" method="POST">
            <input id="posti" name="posti" type="text" value="">
            <input name="idproiezione" type="text" value="{{ proiezione.idproiezione }}">
            <button type="submit">ACQUISTA</button>
        </form>

    </div>
    </div>





{% endblock %}