{% extends "base.html" %}
{% block pagebody %}
    <br><br><br>
    <div class="row">
    <div class="col-4"></div>
        <div class="col-4">
            <h3>Prenotazione</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
    <div class="col-6">
        <p class="filmtitle"> {{ title }} </p>
        <p>Giorno: {{ date }} </p>
        <p>Ora: {{ time }}</p>
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Posti</th>
              <th scope="col">1</th>
              <th scope="col">2</th>
              <th scope="col">3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">C</th>
              <td class="sala-icon" fila="C" numero="1" color-posto="green"> <img id id src="{{ url_for('static', filename='img/armchair-green.png') }}"/><img src="{{ url_for('static', filename='img/armchair.png') }}"/></td>
              <td class="sala-icon"> <img fila="C" numero="2" color-posto="red" src="{{ url_for('static', filename='img/armchair-red.png') }}"/></td>
              <td class="sala-icon"> <img fila="C" numero="3" color-posto="red" src="{{ url_for('static', filename='img/armchair-red.png') }}"/></td>
            </tr>
            <tr>
              <th scope="row">B</th>
              <td class="sala-icon"> <img src="{{ url_for('static', filename='img/armchair.png') }}"/></td>
              <td class="sala-icon" > <img color-posto="red" src="{{ url_for('static', filename='img/armchair-red.png') }}"/></td>
              <td class="sala-icon"> <img src="{{ url_for('static', filename='img/armchair.png') }}"/></td>
            </tr>
            <tr>
                <th scope="row">A</th>
                <td class="sala-icon"> <img color-posto="red" src="{{ url_for('static', filename='img/armchair-red.png') }}"/></td>
                <td class="sala-icon"> <img color-posto="yellow" src="{{ url_for('static', filename='img/armchair-yellow.png') }}"/></td>
                <td class="sala-icon"> <div class="image"> <img fila="A" numero="3" color-posto="yellow" src="{{ url_for('static', filename='img/armchair-yellow.png') }}"/><img fila="A" numero="3" color-posto="green" src="{{ url_for('static', filename='img/armchair-green.png') }}"/></div></td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>



<script src="{{ url_for('static', filename='js/prenota.js') }}"></script>

{% endblock %}